*.swp
*.retry
.DS_Store
.vscode-root
test.yml
tests/local-test.yml
tests/.vagrant
tests/Vagrantfile
tests/test-inv
tests/*.html
tests/*.txt
tests/*.retry
.Python
.molecule/
bin/
/etc/
include/
lib/
pip-selfcheck.json
share/

