ignore: |
  tests/
  molecule/
  .gitlab-ci.yml
  *molecule.yml

extends: default

rules:
  indentation:
    # Requiring 2 space indentation
    spaces: 2
    # Requiring consistent indentation within a file, either indented or not
    indent-sequences: consistent
  truthy: disable
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
