---
ignore: |
  tests/
  molecule/
  .gitlab-ci.yml
  *molecule.yml

extends: default

rules:
  indentation:
    spaces: 4
  truthy: disable
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable