---

- name: "PREREQ | Check required packages installed | Python2"
  ansible.builtin.package:
      name:
          - rpm-python
          - libselinux-python
      state: present
  when: ansible_python.version.major == 2
  vars:
      ansible_python_interpreter: "{{ python2_bin }}"

- name: "PREREQ | Add the required packages | Python 3"
  block:
      - name: PREREQ | Check if python36-rpm package installed
        ansible.builtin.shell: rpm -q python36-rpm
        register: python36_rpm_present
        failed_when: ( python36_rpm_present.rc not in [ 0, 1 ] )
        changed_when: false

      - name: PREREQ | Add the EPEL repository required for the python36-rpm pkg
        ansible.builtin.package:
            name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
            state: present
        register: epel_installed
        when:
            - python36_rpm_present.rc != '0'

      - name: "PREREQ | Check required packages installed | Python3 "
        ansible.builtin.package:
            name: "{{ item }}"
            state: present
        register: python3reqs_installed
        loop:
            - python36-rpm
            - libselinux-python3

      - name: PREREQ | Disable Epel repo if installed earlier
        ansible.builtin.shell: yum-config-manager disable epel
        when: epel_installed.changed  # noqa: no-handler
  when:
      - ( ansible_python.version.major == 3  and ansible_python.version.minor == 6 )
  vars:
      ansible_python_interpreter: "{{ python2_bin }}"
