---

- name: Systemd_restart_tmp.mount
  ansible.builtin.systemd:
      name: tmp.mount
      daemon_reload: true
      enabled: true
      masked: false
      state: reloaded

- name: Remount_dev_shm
  ansible.posix.mount:
      name: /dev/shm
      state: remounted

- name: Remount_home
  ansible.posix.mount:
      name: /home
      state: remounted

- name: Remount_var
  ansible.posix.mount:
      name: /var
      state: remounted

- name: Remount_var_tmp
  ansible.posix.mount:
      name: /var/tmp
      state: remounted

- name: Remount_var_log
  ansible.posix.mount:
      name: /var/log
      state: remounted

- name: Remount_var_log_audit
  ansible.posix.mount:
      name: /var/log/audit
      state: remounted

- name: Systemd_daemon_reload
  ansible.builtin.systemd:
      daemon_reload: true

- name: Rebuild_grub
  ansible.builtin.command: /sbin/grub2-mkconfig -o "{{ rhel7cis_bootloader_file }}"

- name: Restart_postfix
  ansible.builtin.service:
      name: postfix
      state: restarted

- name: Sysctl_flush_ipv4_routes
  ansible.posix.sysctl:
      name: net.ipv4.route.flush
      value: '1'
      sysctl_set: true
  ignore_errors: true  # noqa ignore-errors

- name: Sysctl_flush_ipv6_routes
  ansible.posix.sysctl:
      name: net.ipv6.route.flush
      value: '1'
      sysctl_set: true
  ignore_errors: true  # noqa ignore-errors

- name: Restart_rsyslog
  ansible.builtin.service:
      name: rsyslog
      state: restarted

- name: Restart_journald
  ansible.builtin.service:
      name: systemd-journald
      state: restarted

- name: Restart_systemd_journal_upload
  ansible.builtin.service:
      name: systemd-journal-upload
      state: restarted

- name: Auditd_immutable_check
  ansible.builtin.shell: grep -c "^-e 2" /etc/audit/rules.d/99_auditd.rules
  changed_when: false
  register: auditd_immutable_check

- name: Audit_immutable_fact
  ansible.builtin.debug:
      msg: "Reboot required for auditd to apply new rules as immutable set"
  notify: Change_requires_reboot
  when:
      - auditd_immutable_check.stdout == '1'

- name: Restart_auditd
  ansible.builtin.shell: /sbin/service auditd restart

- name: grub2cfg
  ansible.builtin.command: /sbin/grub2-mkconfig -o "{{ rhel7cis_bootloader_file }}"
  notify: Change_requires_reboot

- name: Restart_rsyslog
  ansible.builtin.service:
      name: rsyslog
      state: restarted

- name: Restart_sshd
  ansible.builtin.service:
      name: sshd
      state: restarted

- name: Change_requires_reboot
  ansible.builtin.set_fact:
      change_requires_reboot: true
