---

- name: "1.1.1.1 | PATCH | Ensure mounting of cramfs filesystems is disabled "
  block:
      - name: "1.1.1.1 | PATCH | Ensure mounting of cramfs filesystems is disabled | Edit modprobe config"
        lineinfile:
            dest: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install cramfs(\\s|$)"
            line: "install cramfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.1 | PATCH | Remove cramfs module"
        modprobe:
            name: cramfs
            state: absent
  when:
      - rhel7cis_rule_1_1_1_1
      - ansible_connection != 'docker'
  tags:
      - level1-server
      - level1-workstation
      - patch
      - rule_1.1.1.1
      - cramfs

- name: "1.1.1.2 | PATCH | Ensure mounting of squashfs filesystems is disabled"
  block:
      - name: "1.1.1.2 | PATCH | Ensure mounting of squashfs filesystems is disabled | Edit modprobe config "
        lineinfile:
            dest: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install squashfs(\\s|$)"
            line: "install squashfs /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.2 | PATCH | Remove squashfs module | rmmod"
        modprobe:
            name: squashfs
            state: absent
  when:
      - rhel7cis_rule_1_1_1_2
      - ansible_connection != 'docker'
  tags:
      - level2-server
      - level2-workstation
      - patch
      - rule_1.1.1.2
      - squashfs

- name: "1.1.1.3 | PATCH | Ensure mounting of udf filesystems is disabled"
  block:
      - name: "1.1.1.3 | PATCH | Ensure mounting of udf filesystems is disabled | Edit modprobe config"
        lineinfile:
            dest: /etc/modprobe.d/CIS.conf
            regexp: "^(#)?install udf(\\s|$)"
            line: "install udf /bin/true"
            create: true
            mode: '0600'

      - name: "1.1.1.3 | PATCH | Remove udf module | rmmod "
        modprobe:
            name: udf
            state: absent
  when:
      - rhel7cis_rule_1_1_1_3
      - ansible_connection != 'docker'
  tags:
      - level1-server
      - level1-workstation
      - patch
      - rule_1.1.1.3
      - udf
